<div class="faqs card">
    <h1>What is this app?</h1>

    <p>
      Organizations often have limited forms of feedback, like 360 reviews, or appreciations
      in retros. However, these have limitations: they can be private, anonymous, or relatively
      infrequent. We (the creators of this app, Jen & Josh) think it's important to have an easy
      way to share appreciation with others publicly and frequently. We hope people find this app beneficial.
    </p>
    <br />
    <p>
    There are proven benefits to gratitude. Dr. Martin Selegman has shown that expressing your appreciation to someone
      dramatically increases your happiness. Gratitude increases optimism, positivity in relationships, self-esteem, and motivation (in the receiver).
    </p>
    <br />
    <p>
    (I’m no scientist; here’s an article by Harvard Medical School saying these things with references:
        <a href="https://www.health.harvard.edu/blog/in-praise-of-gratitude-201211215561">In Praise of Gratitude</a>)
    </p>
    <br />
    <p>
    According to Gallup, only 30% of employees are engaged in their jobs. In his book Drive: The Surprising Truth About
      What Motivates Us, Daniel Pink writes that positive feedback increases intrinsic motivation. And yet, employees feel chronically unrecognized for their work.
    </p>
    <br />
    <p>
    Shirzad Chamine, in his book Positive Intelligence, claims that people with a higher PQ (positivity quotient) live longer,
      burn out less, make better decisions, and perform better on tests. Teams that have higher PQs achieve better results.
      How do you get a higher PQ? One way is — you guessed it — showing appreciation.
    </p>
    <br />
    <p>
      <%= link_to 'Appreciate Your Coworkers', new_appreciation_path, class: 'button button--primary' %>
    </p>
</div>
