<div id='comments'>
  <% if current_user == message.recipient || current_user == message.submitter %>
    <%= render :partial => '/comments/form', :locals => { :message => message } %>
  <% end %>

  <% if !message.comments.index.blank? %>
    <table class="table">
      <thead>
        <tr>
          <th>Comments</th>
          <th>Time</th>
          <% if current_user.admin? #hide button %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => 'comments/comment', :collection => message.comments.index %>
      </tbody>
    </table>

  <% end %>
</div>

