<section class="card">

  <h1 class="appreciation">Post an Appreciation</h1>

  <%= render 'form' %>

  <br>
  <%= link_to 'Back to appreciations', appreciations_path %>
  <br />
  <%= link_to('Copy this link to request an appreciation', new_appreciation_path(recipient_id: current_user.id)) %>
</section>
