<div class="field">
  <%= f.label :anonymous, "Hide my name from the recipient:" %>
  <%= f.check_box :anonymous, class: 'js-anonymous', checked: checked %>
</div>
<p class="douche-warning" style="display:none">Please be constructive and as clear as possible so there can be learning from this feedback, especially because it’s anonymous.</p>
