<p>Pay it forward...Let your colleague know how much you <a href='<%= new_appreciation_url %>'>appreciate</a> them.
  <% if ENV["SHOW_FEEDBACK"] %>
    <br/>Provide <a href='<%= new_feedback_url %>'>constructive feedback</a> to guide them in their growth.
  <% end %>
</p>
