<p>Whatup <%= @recipient.name %>?</p>

<p>Guess what...you just received an appreciation!

<%= render :partial => 'body' %>

Click <a href='<%= @url %>'>here</a> to check it out!</p>

<%= render :partial => 'footer' %>


