<p>Hey there <%= @recipient.name %>,</p>

<p>Guess what...you just received private feedback!

<%= render :partial => 'body' %>

Click <a href='<%= @url %>'>here</a> to check it out!</p>

<%= render :partial => 'footer' %>
